nav {
  height: 80px;
  width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em; 
  color: #FFFFFF;
  background-color: #4056A1 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  
}
button{
  background-color: #4056A1 ;
  font-family: "Bungee";
  color: #FFFFFF;
}
#nav-span-1{
  font-family: "Bungee";
  font-size:30px;
}
.nav-span-2{
font-weight: bold;
font-family: sans-serif;
}
.nav-span-3{
  font-weight: 100;
  font-family: sans-serif;
}
.nav-div{
  text-align: center;
  color: red;
}

